.cocktail-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  width: 200px; /* Adjust the width to make the cards smaller */
  margin: 10px; /* Add margin to create space between the cards */
  background-color: #f0ead2;;
}

.cocktail-card:hover {
  transform: scale(1.05);
}

.cocktail-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cocktail-card h3 {
  margin-top: 8px;
  font-size: 1.4em;
}