:root {
    --gold: #ffd700;
    --color1: #f0ead2;
    --color2: #dde5b6;
    --color3: #adc178;
    --color4: #a98467;
    --color5: #6c584c;
  }
  
  .specific-cocktail-container {
    font-family: 'Arial', sans-serif;
    color: var(--color5);
    background-color: var(--color1);
    
  }
  
  .content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cocktail-title {
    text-align: center;
    font-size: 2.5em;
    color: var(--color5);
    margin-bottom: 20px;
  }
  
  .cocktail-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
  }
  
  .cocktail-image img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cocktail-ingredients {
    flex: 1;
    min-width: 300px;
  }
  
  .cocktail-ingredients h2 {
    font-size: 1.8em;
    color: var(--color5);
    margin-bottom: 10px;
  }
  
  .cocktail-ingredients ul {
    list-style: none;
    padding: 0;
  }
  
  .cocktail-ingredients li {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .cocktail-instructions {
    margin-top: 20px;
  }
  
  .cocktail-instructions h2 {
    font-size: 1.8em;
    color: var(--color5);
    margin-bottom: 10px;
  }
  
  .cocktail-instructions p {
    font-size: 1.2em;
    line-height: 1.6;
  }
  
  .cocktail-glass {
    margin-top: 20px;
  }
  
  .cocktail-glass h2 {
    font-size: 1.8em;
    color: var(--color5);
    margin-bottom: 10px;
  }
  
  .cocktail-glass p {
    font-size: 1.2em;
  }